$primary700: #521d69;
$primary600: #8530AC;
$primary500: #81489a;
$primary400: #9c6db1;
$primary300: #b791c7;
$primary200: #c4a3d3;
$primary100: #d2b6de;
$primary50: #dfc8ea;

$bgColor: #121212;


$secondary700: #266481;
$secondary600: #307da1;
$secondary500: #5997b4;
$secondary400: #81b0c6;
$secondary300: #aacad9;
$secondary200: #bed7e2;
$secondary100: #d2e3eb;
$secondary50: #e7f0f5;

$error700: #ca3d3d;
$error600: #f64c4c;
$error500: #f87070;
$error400: #fa9494;
$error300: #fbb7b7;
$error200: #fcc9c9;
$error100: #fddbdb;
$error50: #feeded;

$blue700: #2f69c7;
$blue600: #3b82f6;
$blue500: #629bf8;
$blue400: #89b4fa;
$blue300: #b1cdfb;
$blue200: #c4d9fc;
$blue100: #d8e6fd;
$blue50: #ebf2fe;

$burble-light: #818cf8;
$burble: #4f46e5;
$burble-dark: #4338ca;

$white: #fff;
$black: #000000;

//backgrounds
$disabled: #f1f5f9;

// text
$text-title: #F4F3F6;
$text-lightgrey: #909092;
$text600: #F4F3F6;

