
$border-color: #E2E1E3;
$form-background-color: #F6F6F8;
$tui-font-text: 'Cairo';
$tui-font-text-m: bold 1rem/1.5rem var(--tui-font-text);
$tui-font-text-s: normal 0.5rem/1.25rem var(--tui-font-text);
$tui-primary: #8530AC;
$title-txt: #2F354D;
$tui-secondary: #EA008A;
$tui-toggle-secondary: #00000033;
$tui-primary-text: #F4F3F6;
$tui-secondary-text: #818E94;
$tui-white-txt: #fff;
$tui-radius-s: 0;
$tui-radius-m: 0.75rem;
$tui-radius-l: 1.25rem;
$tui-height-l: 4.375rem;
$form-title-font-size: 1.5rem;
$form-subtitle-font-size: 1.2rem;
$media-laptop-large: "only screen and (max-width : 1440px)";
$media-laptop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile-large: "only screen and (max-width : 425px)";
$media-mobile-medium: "only screen and (max-width : 375px)";
$media-mobile-small: "only screen and (max-width : 320px)";
$media-mobile-and-higher-only: "only screen and (min-width : 426px)";
$media-tablets-and-higher-only: "only screen and (min-width : 769px)";
$media-laptops-and-higher-only: "only screen and (min-width : 1366px)";