<div class="counter d-flex justify-content-center align-items-center">
    <div class="counter-container w-100 h-100">
        <app-counter [title]="'Partners'" [usersCount]="1" ></app-counter>
    </div>
    <div class="counter-container w-100 h-100">
        <app-counter [title]="'Students'" [usersCount]="4"></app-counter>
    </div>
    <div class="counter-container w-100 h-100">
        <app-counter [title]="'Instructors'" [usersCount]="30" [plusFlag]="true"></app-counter>
    </div>
    <div class="counter-container w-100 h-100">
        <app-counter [title]="'Programs'" [usersCount]="100" [plusFlag]="true"></app-counter>
    </div>
    <div class="counter-container w-100 h-100">
        <app-counter [title]="'Tournaments'" [usersCount]="400000" [plusFlag]="true"></app-counter>
    </div>
</div>