<div>

    <app-navbar></app-navbar>


    <app-slider style="width: 1000px; height: 1000px;"></app-slider>

    <!-- Watch Now Section -->
    <app-watchnow-section></app-watchnow-section>

    <!-- About Section -->
    <app-about></app-about>

    <!-- Explore Our Programs Section-->
    <!-- <app-our-programs></app-our-programs> -->

    <!-- Prince Word -->
    <app-prince-word></app-prince-word>

    <!-- News Section
     -->
    <app-news-updates></app-news-updates>

    <!-- Academic Committee Section -->
    <app-committee-section></app-committee-section>

    <!-- Footer -->
    <app-footer></app-footer>
</div>