<section>

    <!-- #region section-header -->
    <div class="section-title">
        <h2>HRH PRONCE <br />
            FAISAL BIN BANDAR AL SAUD</h2>
    </div>
    <!-- #endregion -->

    <!-- #region colored-balls -->

    <!-- $endregion -->


    <!-- #region body wrapper-->
    <div class="body-wrapper">
        <!-- left section -->
        <div class="word-wrapper">
            <span class="quote left">
                <img src="assets/vectors/left_quote.png">
            </span>
            <div class="paragraph first-paragraph">
                The story of this Federation started long before its inception. The world of esports is no stranger to
                the Kingdom of
                Saudi Arabia or its people. It has often brought us together with our loved ones and immortalized an
                essential chapter
                of our collective memory. The Kingdom’s youth have always been important players in esports globally and
                have competed
                and achieved at global levels. This highlights an important pillar in the Kingdom’s lifestyle that we
                aspire to harness
                and invest in, This Federation was not created out of nothing. The infrastructure for creating a vibrant
                environment for
                esports has long been laid out by our youth with their love and passion for gaming. This makes our role
                as a Federation
                more vital in directing our energies into building an integrated ecosystem that cements esports as a
                professional
                practice with economic feasibility and making the Kingdom a regional and global hub for electronic
                sports.
                <div class="ball-one"></div>
            </div>

            <div class="paragraph second-paragraph">
                Our aspirations have been affirmed by the level of engagement we have seen in the events and tournaments
                SAFEIS
                organized. Tens of thousands of passionate fans and gamers have come together in this short period to
                reaffirm the
                importance of working collectively in achieving our vision and goals in harmony with the Kingdom’s
                Vision 2030. By
                carrying this early momentum and investing in it, we are building a sustainable and inclusive esports
                scene that
                delights gamers of all kinds, We are a small part of a rapidly growing esports community driven by
                ambition for
                excellence. Our motivation is our vision, and our driver is every lover of esports.
                <div class="ball-two"></div>
            </div>
            <span class="quote right">
                <img src="assets/vectors/right_quote.png">
            </span>
        </div>

        <!-- right section -->
        <div class="avatar-wrapper">
            <img src="assets/images/prince_word_section/prince.png">
            <div class="ball-three"></div>
            <div class="ball-four"></div>
        </div>
    </div>
    <!-- #endregion -->
</section>