<div class="news-section w-100">
    <div class="news-section-container">
        <div class="row">
            <div class="col-12">
                <p class="text-3xl text-center mb-3 news-section-title">
                    NEWS & UPDATES
                </p>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12">
                <div class="news-left-side position-relative">
                    <img src="../../../../../assets/images/News-and-updates/left-side.svg" alt="news and updates"
                        class="img-fluid">
                    <div class="news-img-content w-100 position-absolute d-flex flex-column">
                        <p class="news-img-content-txt">
                            Lorem Ipsuem
                        </p>
                        <div class="news-img-content-icons d-flex">
                            <div class="news-img-content-icons-date d-flex align-items-center">
                                <div class="news-img-content-icons-date-icon">
                                    <img src="../../../../../assets/images/News-and-updates/calendar.svg" alt=""
                                        class="img-fluid">
                                </div>
                                <p class="news-img-content-icons-date-txt text-md font-regular">
                                    20/11/2023
                                </p>
                            </div>
                            <div class="news-img-content-icons-views d-flex align-items-center">
                                <div class="news-img-content-icons-views-icon text-md font-regular">
                                    <app-eye-icon></app-eye-icon>
                                </div>
                                <p class="news-img-content-icons-views-txt text-md font-regular">
                                    12k
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12">
                <div class="news-right-side d-flex flex-column justify-content-between h-100">
                    <div class="news-right-side-img1 position-relative">
                        <img src="../../../../../assets/images/News-and-updates/right-side-img1.svg"
                            alt="news and updates" class="img-fluid">
                        <div class="news-img-content w-100 position-absolute">
                            <p class="news-img-content-txt">
                                Lorem Ipsuem
                            </p>
                            <div class="news-img-content-icons d-flex">
                                <div class="news-img-content-icons-date d-flex align-items-center">
                                    <div class="news-img-content-icons-date-icon">
                                        <img src="../../../../../assets/images/News-and-updates/calendar.svg" alt=""
                                            class="img-fluid">
                                    </div>
                                    <p class="news-img-content-icons-date-txt text-md font-regular">
                                        20/11/2023
                                    </p>
                                </div>
                                <div class="news-img-content-icons-views d-flex align-items-center">
                                    <div class="news-img-content-icons-views-icon text-md font-regular">
                                        <app-eye-icon></app-eye-icon>
                                    </div>
                                    <p class="news-img-content-icons-views-txt text-md font-regular">
                                        12k
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="news-right-side-img2 position-relative">
                        <img src="../../../../../assets/images/News-and-updates/right-side-img2.svg"
                            alt="news and updates" class="img-fluid">
                        <div class="news-img-content w-100 position-absolute">
                            <p class="news-img-content-txt">
                                Lorem Ipsuem
                            </p>
                            <div class="news-img-content-icons d-flex">
                                <div class="news-img-content-icons-date d-flex align-items-center">
                                    <div class="news-img-content-icons-date-icon">
                                        <img src="../../../../../assets/images/News-and-updates/calendar.svg" alt=""
                                            class="img-fluid">
                                    </div>
                                    <p class="news-img-content-icons-date-txt text-md font-regular">
                                        20/11/2023
                                    </p>
                                </div>
                                <div class="news-img-content-icons-views d-flex align-items-center">
                                    <div class="news-img-content-icons-views-icon text-md font-regular">
                                        <app-eye-icon></app-eye-icon> 
                                    </div>
                                    <p class="news-img-content-icons-views-txt text-md font-regular">
                                        12k
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-12 d-inline-flex">
                <div class="see-all-news d-flex align-items-center text-md">
                    <a class="see-all-news-txt">
                        View All News
                        <app-right-arrow></app-right-arrow>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>